{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>accueil</h1>
<div id="root"></div>
    <a href="{{ path('app_login') }}">Connexion</a>

{% endblock %}
