{% extends 'base_public.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}





    <div class="container my-5 text-white">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <img style="width: 50%"  class="mx-5 my-5 card-img-top" src="{{ asset('build/images/sent-mail.webp') }}" alt="sent-mail">
                <p>
                    Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé qui contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>

                <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>



{% endblock %}
